@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./custom.css";

/* Fix for the Home Page Background */
.home-hero {
    background-image: url('../../public/images/img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}